.news{
    background-color: #22AFF1;
    border-radius: 10vw 10vw 10vw 10vw;
    margin-top: 4vw;
    /*margin: 15vw 0vw 0vw 0vw;*/
}

h1{
    color: #D4E8FF;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 720px){
    .news{
        background-color: #22AFF1;
        border-radius: 10vw 10vw 10vw 10vw;
        bottom: 0vw;
        position: relative;
        /*margin: 15vw 0vw 0vw 0vw;*/
    }
    
    h1{
        color: #D4E8FF;
        display: flex;
        justify-content: center;
        font-size: 3vw;
    }
}

/*@media screen and (max-width: 1200px) {
    .news{
        background-color: #22AFF1;
        border-radius: 10vw 10vw 10vw 10vw;
        bottom: 0vw;
        position: relative;
        margin: 20vw 0vw 0vw 0vw;
    }
    
    h1{
        color: #D4E8FF;
        display: flex;
        justify-content: center;
        font-size: 3vw;
    }
}*/